@font-face {
    font-family: 'LibreBaskerville-Bold';
    src: url('./fonts/LibreBaskerville-Bold.eot');
    src: url('./fonts/LibreBaskerville-Bold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/LibreBaskerville-Bold.svg') format('svg'),
         url('./styles/fonts/LibreBaskerville-Bold.ttf') format('truetype'),
         url('./styles/fonts/LibreBaskerville-Bold.woff') format('woff'),
         url('./styles/fonts/LibreBaskerville-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LibreBaskerville-Italic';
    src: url('./styles/fonts/LibreBaskerville-Italic.eot');
    src: url('./styles/fonts/LibreBaskerville-Italic.eot?#iefix') format('embedded-opentype'),
         url('./styles/fonts/LibreBaskerville-Italic.svg') format('svg'),
         url('./styles/fonts/LibreBaskerville-Italic.ttf') format('truetype'),
         url('./styles/fonts/LibreBaskerville-Italic.woff') format('woff'),
         url('./styles/fonts/LibreBaskerville-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LibreBaskerville-Regular';
    src: url('./styles/fonts/LibreBaskerville-Regular.eot');
    src: url('./styles/fonts/LibreBaskerville-Regular.eot?#iefix') format('embedded-opentype'),
         url('./styles/fonts/LibreBaskerville-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather-Black';
    src: url('./styles/fonts/Merriweather-Black.eot');
    src: url('./styles/fonts/Merriweather-Black.eot?#iefix') format('embedded-opentype'),
         url('./styles/fonts/Merriweather-Black.svg#Merriweather-Black') format('svg'),
         url('./styles/fonts/Merriweather-Black.ttf') format('truetype'),
         url('./styles/fonts/Merriweather-Black.woff') format('woff'),
         url('./styles/fonts/Merriweather-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather-Italic';
    src: url('./styles/fonts/Merriweather-Italic.eot');
    src: url('./styles/fonts/Merriweather-Italic.eot?#iefix') format('embedded-opentype'),
         url('./styles/fonts/Merriweather-Italic.svg#Merriweather-Italic') format('svg'),
         url('./styles/fonts/Merriweather-Italic.ttf') format('truetype'),
         url('./styles/fonts/Merriweather-Italic.woff') format('woff'),
         url('./styles/fonts/Merriweather-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  

@font-face {
    font-family: 'Merriweather-Regular';
    src: url('./styles/fonts/Merriweather-Regular.eot');
    src: url('./styles/fonts/Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
         url('./styles/fonts/Merriweather-Regular.svg#Merriweather-Regular') format('svg'),
         url('./styles/fonts/Merriweather-Regular.ttf') format('truetype'),
         url('./styles/fonts/Merriweather-Regular.woff') format('woff'),
         url('./styles/fonts/Merriweather-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  

@font-face {
    font-family: 'Oswald-Bold';
    src: url('./styles/fonts/Oswald-Bold.eot');
    src: url('./styles/fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
         url('./styles/fonts/Oswald-Bold.svg#Oswald-Bold') format('svg'),
         url('./styles/fonts/Oswald-Bold.ttf') format('truetype'),
         url('./styles/fonts/Oswald-Bold.woff') format('woff'),
         url('./styles/fonts/Oswald-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-Regular';
    src: url('./styles/fonts/Oswald-Regular.eot');
    src: url('./styles/fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
         url('./styles/fonts/Oswald-Regular.svg#Oswald-Regular') format('svg'),
         url('./styles/fonts/Oswald-Regular.ttf') format('truetype'),
         url('./styles/fonts/Oswald-Regular.woff') format('woff'),
         url('./styles/fonts/Oswald-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./styles/fonts/Roboto-Bold.eot');
    src: url('./styles/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('./styles/fonts/Roboto-Bold.svg#Roboto-Bold') format('svg'),
         url('./styles/fonts/Roboto-Bold.ttf') format('truetype'),
         url('./styles/fonts/Roboto-Bold.woff') format('woff'),
         url('./styles/fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  

@font-face {
    font-family: 'Roboto-Italic';
    src: url('./styles/fonts/Roboto-Italic.eot');
    src: url('./styles/fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
         url('./styles/fonts/Roboto-Italic.svg#Roboto-Italic') format('svg'),
         url('./styles/fonts/Roboto-Italic.ttf') format('truetype'),
         url('./styles/fonts/Roboto-Italic.woff') format('woff'),
         url('./styles/fonts/Roboto-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./styles/fonts/Roboto-Regular.eot');
    src: url('./styles/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('./styles/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg'),
         url('./styles/fonts/Roboto-Regular.ttf') format('truetype'),
         url('./styles/fonts/Roboto-Regular.woff') format('woff'),
         url('./styles/fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '18828';
    src: url('./styles/fonts/18828.eot');
    src: url('./styles/fonts/18828.eot?#iefix') format('embedded-opentype'),
         url('./styles/fonts/18828.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'UmbrellaC-Plain';
    src: url('./styles/fonts/UmbrellaC-Plain.svg#UmbrellaC-Plain') format('svg'),
         url('./styles/fonts/UmbrellaC-Plain.ttf') format('truetype'),
         url('./styles/fonts/UmbrellaC-Plain.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: none;
    scroll-snap-type: mandatory;
}

header {
    font-family: 'Oswald-Regular', serif;
    position: sticky;
    margin: 0;
    border: none;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    color: black;
    margin: none;
    line-height: 50px;
}

.logo {
        display: inline-block;
        position: relative;
        left: 8%;
        top: 7%;
}

.title {
    display: inline-block;
    position: relative;
    font-size: 20px;
    left: 10%;
}

img {

    width: 25px;
    height: 25px;
}

.introduce, .color, .font-backgnd, .text-style-backnd, .btn-backgnd {
    width: 100%;
    min-height: 100vh;
    background-color: #AFEEEE;    
}

.introduce-text {
    display: inline-block;
    margin-top: 10%;
    margin-left: 15vw;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 40px;  
    width: 50%;
    line-height: 150%;
    border-bottom: 3px solid white;

}

.color-theme, .fonts, .text-style, .btn {
    width: 100%;
    height: 100vh;
    background-color: #FFDABC;
    color: black;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    text-align: center;
}

.color-word, .font-word, .text-style-word, .btn-word {
    display: inline-block;
    font-family: 'UmbrellaC-Plain', serif ;
    font-size: 15vw;
    line-height: 100vh;
}



.color-text {
    display: inline-block;
    width: 25%;
    background-color: #AFEEEE;
    border: 3px solid white;
    border-radius: 45px;
    margin-top: 7%;
    margin-left: 10%;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 100;
    font-size: 40px;
    line-height: 150%;
    padding: 10% 5%;

}

.color-container {
    float: right;
    margin-right: 6%;
    margin-top: 15%;
    height: 42vh;
    width: 525px;
    background-color: #AFEEEE;
}

.color-box {
    display: inline-block;
    width: 250px;
    height: 100px;
    border: 2px solid;
    border-radius: 10px;
    margin-top: 2px;
    padding-left: 6px;
    font-family: 'Lato', sans-serif;;
    text-align: center;
}

.color-name {
    display: block;
    margin-top: 5%;
    font-size: 20px;
}

.color-num {
    display: block;
    font-size: 17px;
    width: 120px;
    margin-left: 25%;
    margin-top: 10%;
    border-bottom: 2px solid white;

}

#LightSlateGray {
    background-color: lightslategray;
    border-color: lightslategray;
}

#Yellow {
    background-color: yellow;
    border-color: yellow;
}

#SlateBlue {
    background-color: slateblue;
    border-color: slateblue;
}

#DarkCyan {
    background-color: DarkCyan;
    border-color: darkcyan;
}

#LightCoral {
    background-color: LightCoral;
    border-color: LightCoral;
}

#PaleGreen {
    background-color: PaleGreen;
    border-color: PaleGreen;
}


/*fonts part*/

.font-text {
    display: inline-block;
    width: 75%;
    margin-top: 3%;
    margin-left: 10%;
    padding-left: 1%;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 100;
    font-size: 40px;
    line-height: 150%;
    border-left: 3px solid white;
}

.font-container {
    display: inline-block;
    margin-top: 3%;
    width: 88%;
    height: auto;
    margin-left: 10%;
    border: 3px solid #2F4F4F; 
    border-radius: 15px;
    background-color: #2F4F4F; 
    text-align: center;

}

.font-box {
    color: white;
    display: inline-block;
    border-right: 3px solid white;
    width: 385px;
    line-height: 22px;
    height: 25vh;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 1%;
    padding: 1%;
}

.font-title {
    font-size: 22px;
    border-left: 3px solid white;
    padding-left: 2%;
    text-align: left;
}

.regular-lbr, .regular-mrw, .regular-osd, .regular-rbt, .regular-rbtf, .regular-ucp, .bold-lbr, .bold-mrw, .bold-osd, .bold-rbt, .bold-rbtf, .bold-ucp, .italic-lbr, .italic-mrw, .italic-osd, .italic-rbt, .italic-rbtf, .italic-ucp {
    text-align: left;
} 

.Libre-Baskerville, .regular-lbr {
    font-family: 'LibreBaskerville-Regular', sans-serif;
}

.bold-lbr {
    font-family: 'LibreBaskerville-Bold', sans-serif;
}

.italic-lbr {
    font-family: 'LibreBaskerville-Italic', sans-serif;
}

.Merriweather, .regular-mrw {
    font-family: 'Merriweather-Regular', sans-serif;
}

.bold-mrw {
    font-family: 'Merriweather-Black', sans-serif;
}

.italic-mrw {
    font-family: 'Merriweather-Italic', sans-serif;
}

.Roboto, .regular-rbt {
    font-family: 'Roboto-Regular', serif;
}

.bold-rbt {
    font-family: 'Roboto-Bold', serif;
}

.italic-rbt {
    font-family: 'Roboto-Italic', serif;
}

.Oswald, .regular-osd {
    font-family: 'Oswald-Regular', serif;
}

.bold-osd {
    font-family: 'Oswald-Bold', serif;
}

.italic-osd {
    font-family: 'Oswald-Regular', sans-serif;
    font-style: italic;
}

.Roboto-flex, .regular-rbtf {
    font-family: 'Roboto Flex', sans-serif;
}

.bold-rbtf {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 700;
}

.italic-rbtf {
    font-family: 'Roboto Flex', sans-serif;
    font-style: italic;
}

.Umbrellac-plain,.regular-ucp {
    font-family: 'UmbrellaC-Plain', sans-serif;
}

.bold-ucp {
    font-family: 'UmbrellaC-Plain', sans-serif;
    font-weight: 700;
}

.italic-ucp {
    font-family: 'UmbrellaC-Plain', sans-serif;
    font-style: italic;
}

/*text styles part*/
.text-style-text {
    display: inline-block;
    border-right: 3px solid white;
    text-align: right;
    padding-right: 2%;
    width: 75%;
    margin-top: 3%; 
    margin-left: 7%;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 100;
    font-size: 40px;
    line-height: 150%;
}

.text-style-container {
    margin-top: 5%;
    margin-left: 10%;
    width: 75%;
    height: 55vh;
    text-align: center;
    background-color: #008080;
    border: 3px solid #008080;
    border-radius: 15px;

}

.text-style-box {
    display: inline-block;
    width: 30%;
    height: 50vh;
    margin: 2% 1%;
    background-color: #008080;
    border-left: 9px double white;

}

.text-style-headings {
    padding-top: 20px;
    font-family: 'LibreBaskerville-Regular', sans-serif;
    Font-weight: 700;
    Font-size: 26px;
    line-height: 26px;
}

.text-style-paragraph {
    font-family: 'Merriweather-Regular', sans-serif;
    font-size: 26px;
    Font-weight: 400;
    line-height: 26px;

}

.text-style-table-cell {
    font-family: 'Merriweather-Regular', serif;
    font-size: 26px;
    text-align: center;
    line-height: 26px;
    
}

.text-style-headings, .text-style-paragraph, .text-style-table-cell {
    text-align: right;
    margin-left: 1%;
    margin-right: 1%;
    width: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: 3px dashed white;
    color: white;
}

ul {
    font-family: 'Merriweather-Regular', serif;
    text-align: left;
    text-decoration: none;
    line-height: 25px;
    font-size: 20px;
    color: white;
    list-style-type: none;
}

.btn-text {
    display: inline-block;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    text-align: center;
    width: 75%;
    margin-top: 3%; 
    margin-left: 10%;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 100;
    font-size: 40px;
    line-height: 150%;
}






/*for devices which max width less than 992 px*/
@media screen and (max-width: 992px){
    .color-word{
        padding-left: 23vw;
        padding-top: 45vh;
    }
}